--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
faiss-cpu
requests
beautifulsoup4
selenium

google-generativeai
python-dotenv
fastapi
uvicorn
pydantic
streamlit
pandas
tqdm
numpy
lxml
openpyxl
httpx
